<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- custom css -->
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/dashboard.css">

    <!-- boostrap css -->
    <link rel="stylesheet" href='/css/bootstrap.min.css'>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href='https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css'>
</head>

<body>
    <% if(title == "landing_page" && auth == "false") { %>
        <div class="header">
            <a href="/" class="logo">Custom Portal</a>
            <div class="header-right">
                <a href="/login">Signin</a>
                <a href="/register">Signup</a>
            </div>
        </div>

        <div style="padding-left:20px">
            <h1>Welcome to Custom Portal</h1>
        </div>

        <% } else if(title == "landing_page" && auth != "false") { %>
            <div class="header">
                <a href="/" class="logo">Custom Portal</a>
            </div>

            <!-- <div style="padding-left:20px">
                <h1></h1>
            </div> -->
            <% } else if(title == "login_page") { %>
                <div class="header">
                    <a href="/" class="logo">Custom Portal</a>
                    <div class="header-right">
                        <a href="/register">Signup</a>
                    </div>
                </div>
                <% } else if(title == "signup_page") { %>
                    <div class="header">
                        <a href="/" class="logo">Custom Portal</a>
                        <div class="header-right">
                            <a href="/login">Signin</a>
                        </div>
                    </div>
                    <% } else if(title == "dashboard") { %>
                        <div class="header">
                            <a href="/" class="logo">Custom Portal</a>
                            <span style="color: white; margin-left: 50%;">
                            Welcome <span class="text-info">
                                <%= username %>
                            </span> this is your custom portal.
                            </span>
                            <div class="header-right">
                                <a href="/logout">Logout</a>
                            </div>
                        </div>
                        <% } %>

</body>

</html>